[submodule ".vim/bundle/plugin-ack"]
	path = .vim/bundle/plugin-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/plugin-nerdcommenter"]
	path = .vim/bundle/plugin-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/plugin-nerdtree"]
	path = .vim/bundle/plugin-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/plugin-snipmate"]
	path = .vim/bundle/plugin-snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/plugin-rails"]
	path = .vim/bundle/plugin-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/plugin-fugitive"]
	path = .vim/bundle/plugin-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/color-solarized"]
	path = .vim/bundle/color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/plugin-ruby_refactoring"]
	path = .vim/bundle/plugin-ruby_refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule ".vim/snippets"]
	path = .vim/snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule ".vim/bundle/plugin-csapprox"]
	path = .vim/bundle/plugin-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule ".vim/bundle/color-railscasts"]
	path = .vim/bundle/color-railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule ".vim/bundle/plugin-gitv"]
	path = .vim/bundle/plugin-gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/plugin-pandoc"]
	path = .vim/bundle/plugin-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/plugin-auto_pairs"]
	path = .vim/bundle/plugin-auto_pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/plugin-surround"]
	path = .vim/bundle/plugin-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/plugin-ctrlp"]
	path = .vim/bundle/plugin-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/plugin-go"]
	path = .vim/bundle/plugin-go
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/color-jellybeans"]
	path = .vim/bundle/color-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/colors-base16"]
	path = .vim/bundle/colors-base16
	url = https://github.com/chriskempson/base16-vim.git
